<!DOCTYPE html>
<html>
<head>
  <title>Rebase Labs</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <%= erb :_navbar %>

  <div class="container-fluid mt-3 bg-dark-alt">
    <table class="table table-striped" id="exams">
      <thead class="thead-dark">
        <tr>
          <th>Token</th>
          <th>Nome</th>
          <th>CPF</th>
          <th>Email</th>
          <th>Nascimento</th>
          <th>Data do exame:</th>
          <th>Médico</th>
          <th>CRM</th>
          <th>Estado</th>
          <th>Detalhes</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>

  <script src="/js/main.js"></script>

  <script src="/js/search.js"></script>
</body>
</html>


